html {
  box-sizing: border-box;
  background-color: #eee9de;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  padding: 1rem;
  border: 3px solid #9a816d;
  display: inline-block;
  max-width: 25em;
  text-align: left;
  border-radius: 8px;
  background-color: #dcd4cd;
  color: #512200;
  font-style: normal;
  font-weight: normal;
  font-family: Georgia;
  text-decoration: none;
}

h2 {
  color: #512200;
  font-family: Dosis;
  font-weight: bolder;
  font-size: 1.5rem;
  margin: auto;
}

div {
  display: inline-block;
  font-size: 1.125rem;
  font-family: Dosis;
  font-weight: bolder;
  text-align: center;
  border: 3px solid #785439;
  background-color: #785439;
  color: #f0eee8;
  border-radius: 7px;
  padding: .4em .75em .5em;
  text-decoration: none;
  margin: 0 0 1rem;
}

.link-card:hover {
  background-color: #666;
  color: #cabdb2;
  border: 3px solid #666;
  text-decoration: none;
}

dl {
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

dt {
  float: left;
  width: 50%;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

dd {
  float: left;
  width: 50%;
  padding: 0;
  margin: 0;
  text-decoration: none;
}
