html {
  box-sizing: border-box;
  background-color: #eee9de;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

section {
  width: auto;
  padding: 1rem;
  border: 3px solid #9a816d;
  display: inline-block;
  max-width: 25em;
  text-align: left;
  border-radius: 8px;
  background-color: #cabdb2;
}

body {
  text-align: center;
  background-color: #eee9de;
  color: #512200;
  font-style: normal;
  font-weight: normal;
  font-family: Georgia;
  margin: 8px;
}

h2 {
  color: #512200;
  font-family: Dosis;
  font-weight: bolder;
  font-size: 1.5rem;
  margin: auto;
}

div a {
  display: inline-block;
  font-size: 1.125rem;
  font-family: Dosis;
  font-weight: bolder;
  text-align: center;
  border: 3px solid #785439;
  list-style-type: none;
  background-color: #785439;
  color: #f0eee8;
  border-radius: 7px;
  padding: .5em;
  text-decoration: none;
  margin: 10px 20px;
}

a:hover {
  background-color: #666;
  color: #eee9de;
  border: 3px solid #666;
}

ul {
  list-style: none;
  text-align: left;
}
