html {
  box-sizing: border-box;
  background-color: #eee9de;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #eee9de;
}

.link-card {
  padding: 1rem;
  border: 3px solid #9a816d;
  display: inline-block;
  max-width: 25em;
  text-align: left;
  border-radius: 8px;
  background-color: #dcd4cd;
  color: #512200;
  font-family: Georgia;
  text-decoration: none;
}

.link-card h2 {
  color: #512200;
  font-family: Dosis;
  font-weight: bolder;
  font-size: 1.5rem;
  margin: auto;
}

.btn {
  display: inline-block;
  font-size: 1.125rem;
  font-family: Dosis;
  font-weight: bolder;
  text-align: left;
  border: 3px solid #785439;
  background-color: #785439;
  color: #f0eee8;
  border-radius: 7px;
  padding: .4em .75em .5em;
  text-decoration: none;
  margin: 0;
}

.btn-wrap {
  text-align: center;
  margin: 0;
  padding-top: 1em;
}

.link-card:hover {
  background-color: #cabdb2;
  color: #512200;
  border: 3px solid #9a816d;
  text-decoration: none;
}

dl {
  padding-top: 1em;
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-size: .875rem;
}

dt {
  float: left;
  width: 50%;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

dd {
  float: left;
  width: 50%;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #512200;
}

.list {
  border-bottom: 2px solid #9a816d;
}

nav {
  border-bottom: 2px solid #9a816d;
}
